<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.0.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="MicroSolr.Connectors" version="2.1.0.1" targetFramework="net45" />
  <package id="MicroSolr.Core" version="1.1.0.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net45" />
  <package id="StemmersNet" version="1.1.1.0" targetFramework="net45" />
  <package id="Targetix.MongoDB.Extensions" version="1.0.11" targetFramework="net45" />
  <package id="Targetix.MongoDB.Versioning" version="1.0.13" targetFramework="net45" />
</packages>