<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Npgsql" version="2.2.4" targetFramework="net45" />
  <package id="NServiceKit.Common" version="1.0.11" targetFramework="net45" />
  <package id="NServiceKit.OrmLite.PostgreSQL" version="1.0.11" targetFramework="net45" />
  <package id="NServiceKit.Text" version="1.0.10" targetFramework="net45" />
</packages>